.sc-hdr, .m-c-hdr p, .p-s-hdr p, .sr-cw-hdr p {
    font-size: 24px;
    font-weight: normal;
    line-height: 1em;
    margin: 6px 0 8px !important;   
}

.sc-navbar ul li a span {
    float: right;
    margin-right: 7px;
}
.ua-navbar li a span {
    float: left;
    margin-right: 7px;
}
.n-cw {
    overflow-x: hidden;
	overflow-y: overlay;
}

iframe {
    border: none;
}

.ua-cw #tabs {
    height: calc(100% - 50px);
}

#a-overview {
    overflow-x: visible !important;
}