.sc-hdr, .m-c-hdr p, .p-s-hdr p, .sr-cw-hdr p {
    font-size: 24px;
    font-weight: normal;
    line-height: 1em;
    margin: 6px 0 8px !important;   
}
.sr-cw-hdr {
    height: 38px;
    border-top: 1px solid transparent;
}
.sr-dt {
    height: calc(100% - 38px);
    overflow-y: auto;
    overflow-x: hidden;
}
.sc-navbar ul li a span {
    float: right;
    margin-right: 7px;
}
.ua-navbar li a span {
    float: left;
    margin-right: 7px;
}
.n-cw {
    overflow-x: hidden;
	overflow-y: overlay;
}

iframe {
    border: none;
}

.ua-cw #tabs {
    height: calc(100% - 50px);
}

#a-overview {
    overflow-x: visible !important;
}

.loader, .u-loader {
    display: none;
}

.n-listview .ui-listview-item-button, .n-listview .ui-listview-item-split-button {
    background-color:  #fff !important;
} 
.ui-listview-item-button:hover, .ui-listview-item-split-button:hover {
    background-color: #ededed !important;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.ui-listview-item-button:focus, .ui-listview-item-split-button:focus {
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.ui-listview>li p {
    font-size: .85em !important;
}