/* 
	https://docs.emmet.io/cheat-sheet/

*/
body {
	font-family:'Product Sans' !important;
	position: relative;
	background-color: #fff !important;
}

a {
	text-decoration: none;
	font-weight: normal !important;
}

.ui-popup-screen {
    background-image: none !important;
	height: calc(100% - 1px) !important;
}

.ui-page-theme-a .ui-focus.noshadowI {
	border: 1px solid #888;
	transition: border .5s ease-in-out;
}
.app-title, .cw-ctrls-wrapper, .explorer .folder-icon p, .explorer-navigation,.header-search {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.content-wrapper {
	background-color: #fff !important;
}
.content-wrapper {
	position: relative;
	padding-bottom: 0 !important;
}
.ui-content {
	position: relative;
	/* min-width: 240px !important; */
}

/* Android Styles */
.ui-content-up {
	padding-top: /*4.875em*/ 6.6875em !important;
}
.no-scroll {
	overflow-y: hidden !important;
}
.side-panel-wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	left: -100%;
	height: 100vh;
	/*background: rgba(0,0,0,.15);*/
	z-index: 8888888;
	overflow: hidden;
}
.side-panel {
	overflow: auto;
	top: 0;
	width: 250px;
	left: 0;
	height: 100%;
	background: #fff;
	-webkit-box-shadow:5px 0 5px rgba(0,0,0,.15);
	-moz-box-shadow:5px 0 5px rgba(0,0,0,.15);
	box-shadow:5px 0 5px rgba(0,0,0,.15);
}
.home-search-wrapper {
	position: relative;
	background: #fff;
	border-top-right-radius: .3125em;
    border-top-left-radius: .3125em;
}
.hs-wrapper-up {
	position: fixed;
	/*  padding: 1em 0 0 0; */
	top: 1em;
	left: 1em;
	right: 1em;
	z-index: 1;
}
.home-search-wrapper .ui-input-text{ 
	margin-top:0 !important;
}
.panel-ctrl-wrapper {
	font-size: 14px;
	position: absolute;
	top:0;
	z-index: 1;
	padding:0;
	margin:0;
	height: 44px; 
	line-height:44px;
	text-align: center;
	width: 40px;
	border: 1px solid transparent;
}
/* .pcw-up {
  top: 17px;
} */
.panel-ctrl-wrapper p {
	margin:0;
	display: inline;
}
.panel-ctrl:hover {
	cursor: pointer;
}
.search-ctrl {
	display: none;
}
.search-ctrl:hover {
	cursor: pointer;
}
.home-search {
	height: 44px;
	padding: 0 0 0 40px !important;
	font-size: 14px;
	font-weight: 100;
	margin-bottom:0 !important;
	padding-bottom:0 !important;
	font-family: 'Product sans' !important;
}
.noshadow {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.noradius {
	border-radius: 0 !important;
}

.noshadowI {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.nomargin {
	margin: 0 !important;
}

.hsw-custom {
	width: calc(100% - 16px) !important;
    height: calc(100% - 3px);
    padding-right: 0;
}

.ui-input-text {
  margin-bottom: 0;
}
.static-hdr-up {
  position: fixed;
  top: -46px;
  left: 1em;
  right: 1em;
  border-bottom: 1px solid #ddd;
  z-index: 1;
}
.static-hdr {
  height: 40px;
  line-height: 40px;
  width: 100px;
  border-bottom: 2px solid #000;
  text-align: center;
  display: none;
}
.static-hdr p {
  margin: 0;
}
.hs-wrapper-search-mode {
	position: fixed;
	/*height: 558px;*/
	/*border: 1px solid red;*/
	top: 0;
	left: 0;
	right: 0;
	padding-bottom: 0;
	z-index: 8888887;
}
.pc-wrapper-search-mode {
	height: 54px;
	line-height: 54px;
}
.hs-search-mode {
	height: 54px;
}
.search-window {
	/*margin-top: -0.5em;*/
	background: #fff;
	padding: 1em;
	display: none;
	overflow-y: scroll;
}
.sw-thumb {
	position: absolute;
	height: 80px;
	width: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*border: 1px dotted #444;*/
	/*border-radius: 5px;*/
	opacity: 0.3;
	/*z-index: -1;*/
}
.sw-thumb img {
	height: 100%;
	width: 100%;
}
.sr {
	height: 80px;
	width: 100%;
	border: 1px dotted #ccc;
	border-radius: 3px;
	margin: 5px 0  0 -2px;
	/*opacity: 0.5;
	background: rgba(0,0,0,.15);*/
}
.ui-content-search-mode {
	padding-top: 3.875em !important;
}

.header {
	display: none;
}
.pc-side-panel-wrapper {
	display: none;
}
.content-container {
	width: 100%;
}

.content {
	position: relative;
	display: none;
	margin: 0;
	height: 100%;
}
.pp-cw {
	margin-top: 0;
	height: calc(100% - 1em);
}
.uploads-cw {
	box-sizing: border-box;
    border-top: 1px solid transparent;
}

.active-content-wrapper {
	display: block;
}

.content p {
	margin: 0;
}
attr:hover {
	cursor: pointer;
}

/* 
	EXPLORER
	Explorer path(s) | Navigation 
	*/
.explorer-navigation {
	height: 50px;
    line-height: 38px;
    width: 100%;
	margin: 0 1em 0 0;
	white-space: nowrap;
	overflow-x: auto;
}
.b-f-navigators {
	/* display: none; */
	height: 40px;
    width: 81px;
    float: left;
    line-height: normal;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 4px 7px 3px 0;
}
.b-f-navigators div {
	height: 40px;
	line-height: 40px;
	width: 40px;
	float: left;
	text-align: center;
}
.b-f-navigators div:hover {
	cursor: not-allowed;
}
.b-f-navigators .b {
	border-right: 1px solid #ddd;
}
.tmp-path-section {
	display: none;
	background: #e8f0fe;
    font-size: 13px;
    left: 16px;
    padding: 0 10px;
	color: #1967d2;
	float: left;
    margin: 12px 0 0 4px;
	border-radius: 3px;
}
.path-section {
    background: #e8f0fe;
    font-size: 12px;
    left: 16px;
    padding: 0 10px;
	color: #1967d2;
	/* float: left; */
	display: inline-block;
    margin: 5px 0 0 4px;
	border-radius: 3px;
}
.path-section p {
	text-transform: uppercase;
}
.path-section:hover {
	cursor: not-allowed;
}
.path-section-w-h:hover {
	/* path-section with active history */
	cursor: pointer !important;
}
.explorer-hdr {
    text-align: center;
}
.tmp-path-delimeter {
	display: none;
	float: left;
	padding: 0 5px 0 6px;
	margin-top: 11px;
	transform: scale(0.75);
}
.path-delimeter {
	/* float: left; */
	display: inline-block;
	padding: 0 5px 0 6px;
	margin-top: 4px;
	transform: scale(0.75);
}
.path-delimeter p {
	font-size: 12px;
}
.active-path-delimeter {
	display: block !important;
}
.explorer {
	position: relative;
    height: calc(100% - 3.125em);
	/* width: 100%; */
	width: calc(100% + 32px);
	/* margin: 0 0 1em 0; */
	border-top: 1px solid #ddd;
	margin-left: -16px;
	padding-bottom: 64px;
	width: 160px;
	margin: 0 auto;
}
.ecw {
	height: calc(100% - 2.5em);
    width: 100%;
    background: #fff;
    border-top: none;
    padding: 10px 0 30px;
	overflow: auto;
	overflow: overlay;
}

.folder-tile-wrapper,.file-tile-wrapper {
	/* height: 134px;
	width: 150px; */
	height: 107px;
	width: 80px;
	float: left;
}
.folder-icon, .file-icon{
	/* border: 1px solid #ddd; */
	position: relative;
    height: 80px;
    font-size: 12px;
    text-align: center;
    width: 80px;
    /* margin: 20px 0 0 35px; */
	border-radius: 3px;
	margin: 0;
}
.folder-icon:after,.file-icon:after {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    width: 65px;
    height: 65px;
    background: url("../assets/images/folder-m-filled.svg");
	background-size: 100%;
	background-size: contain;
    background-repeat: no-repeat;
}
.file-icon:after {
	background: url("../assets/images/OfficeL-A-pdf.svg");
}
.folder-icon p,.file-icon p {
	position: absolute;
	top: 85px;
	height: 27px;
	left: 5px;
	right: 5px;
	text-align: center;
	overflow: hidden;
	white-space: -webkit-nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.folder-icon:hover {
	cursor: pointer;
}
.files-ecw-hdr {
	height: 40px;
    line-height: 40px;
    margin: 0 0 0 32px !important;
}
.file-icon:hover {
	cursor: pointer;
}
.fdownl-dialog-wrapper {
	position: absolute;
    height: 99.9vh;
    top: -82px;
    left: -267px;
    width: 100vw;
    background: rgba(0,0,0,.3);
    z-index: 3;
    display: none;
}
.file-downl-dialog {
	position: absolute;
    height: 300px;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px #888;
}
.fw-stats {
	position: absolute;
    height: 15px;
    bottom: 64px;
    left: 15px;
    background: #fff;
    font-size: 12px;
    padding: 0 30px 0 10px;
    line-height: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
	background: #e8f0fe;
	font-size: 70%;
}

/* UserAccount */
.ua-cw {
	height: calc(100vh - 5.1875em);
	overflow-x: hidden;
	overflow-y: overlay;
	overflow:auto;
}
.ua-nav-wrapper {
	height: /* 50px */100px;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.modr-login-ctrl,.contributors-login-ctrl {
	height: 34px;
	line-height: 34px;
}
.ua-hdr {
	display: inline-block;
    margin: 8px 0 0 0;
    border: 1px solid #ddd;
    padding: 8px 16px;
    height: auto;
    line-height: normal;
    color: #1967d2;
    border-radius: 20px;
    font-size: 80%;
}
.ua-nav-wrapper br {
	display: none;
}
.login-ctrls-wrapper {
	/* width: 100%; */
	text-align: center;
}
.ua-login-ctrls {
	display: inline-block;
	min-width: 225px;
    height: 35px;
    line-height: 34px;
    margin: 12px 0 0 0;
    position: relative;
    clear: both;
    overflow: visible;
}
.login-ctrls-hdr {
	float: left;
	position: absolute;
    top: -4px;
    /* margin: 8px 0 0 0; */
    z-index: 2;
    height: 42px;
    line-height: 42px;
    background: #fff;
    width: 42px;
    text-align: center;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
    box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
}
.modr-login-ctrl,.contributors-login-ctrl {
	float: left;
}
/* .contributors-login-ctrl {
	margin: 0 8px 0 0;
} */
.modr-login-ctrl a,.contributors-login-ctrl a {
	height: 31.04px;
    line-height: 31.04px;
    padding: 0 15px;
    margin: 0;
    font-size: 12px;
    /* font-family: Arial;*/
	font-weight: 400; 
	border-radius: 34px !important;
	box-shadow: none;
	border-width: 1.48px;
    background-color: #fff !important;
 }
 .modr-login-ctrl a {
	padding-left: 52px;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
 } 
 .contributors-login-ctrl a {
	border-left: none;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
 }

 .ua.ui-grid-a {
	margin: 16px 0 0;
}
.ua .ui-block-a, .ua .ui-block-b {
	width: 100% !important;
}
.ua .ui-block-a {
	/* height: 236px; */
	padding: 0 .5em;
}
/* #e8f0fe */
.avatar-card {
	width: 206px;
	height: 236px;
	margin: auto;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: inset 0 7.375em 0 #e8f0fe;
}
.avatar-card:hover {
	/* Be sure to change this */
	cursor:cell;
}
.gravatar-wrapper {
	width: 164px;
	height: 164px;
	margin: 16px 20px 0 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.gravatar-wrapper img {
	height: 100%;
	width: 100%;
	border-radius: 3px;
}
.udID {
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin: 12px 0;
	text-align: center;
}
.udID p {
	font-family: Ubuntu, "Product Sans";
	font-size: 90%;
}
.ua-details h4 {
	font-size: 22px;
	margin: .25em 0;
	letter-spacing: .4px;
}
.ua-info {
	color: #777;
}
.ua-details p {
	line-height: 25px;
}
.ua-details p span {
	display: block;
	float: left;
	font-size: 2.5em;
	color: #0caa0c;
}
.ua .ui-block-b {
	height: auto;
	padding: 0 .5625em;
	line-height: 140%;
}
.ua-info span {
	color: #202020;
}
.ua-info-eb-link span {
	font-size: 110%;
	color: #1967d2;
}
.ua-info-eb-link span:hover {
	cursor: pointer;
}
/* Break Android Styling, 444px*/
@media all and (min-width: 27.75em) {
	.ua-nav-wrapper {
		height: 50px;
		border-bottom: none;
	}
	.ua-login-ctrls {
		margin: 0;
	}
	.ua-hdr, .login-ctrls-wrapper {
		height: 35px;
		line-height: 34px;
		float: left;
	}
	.ua-hdr {
		padding: 0 16px;
		margin: 6.5px 0 0 8px;
	}
	.login-ctrls-wrapper {
		float: right;
		margin: 7.5px 8px 0 0;
	}
}
/* Break Android Styling, 600px*/
@media all and (min-width: 37.5em){
	.content {
		margin: 1em;
		height: calc(100% - 2em) !important;
	}
	.side-panel-wrapper, .panel-ctrl, .home-search-wrapper,.footer {
		display: none;
	}
	.ui-page {
		height: 100%;
		overflow-x: auto !important;
	}
	.ui-page .ui-content {
		height: inherit;
		padding: 0;
		/* min-width: 1071px !important; */
	}
	.header {
		display: block;
		width: 100%;
		height: 47.66px;
		padding: 0.5em 0;
		border-bottom: 1px solid #ddd;
	}
	.app-ver {
		position: absolute;
		background: #3ca4ff;
		color: #fff;
		text-align: left !important;
		border-radius: 1000px;
		padding: 0 10px !important;
		font-size: 10px;
		bottom: -8px;
		text-shadow: none;
		left: 2px;
		height: 13px;
		line-height: 13px;
	}
	.app-title {
		position: relative;
		height: 48px;
		/* width: 250px; */
		width: 165px;
		margin-top: -5px;
	}
	.title {
		height: 40px;
		width: 150px;
		line-height: 45px;
		font-size: 33px;
		padding: 0 0 0 20px;
		font-weight: 900;
		letter-spacing: 2.5px;
		text-align: right;
	}
	.sub-title {
		height: 8px;
		width: 150px;
		line-height: 8px;
		margin-left: -4px !important;
		font-weight: bold;
		font-size: 12px;
		text-align: right;
	}
	.app-title p {
		margin: 0;
		padding: 0;
	}
	.header-search-wrapper {
		/* calc(100% - 250px); */
		width: 720px;
		height: 48px;
		padding: 0 0 0 10px;
	}
	.app-title, .header-search-wrapper {
		float: left;
	}
	.header-search-wrapper .ui-input-search {
		margin: 0;
	}
	.header-search-wrapper .ui-input-search:after {
		left: 0.8em;
	}
	.header-search {
		height: 44px;
		padding: 0 0 0 40px !important;
		font-size: 14px;
		margin-bottom:0 !important;
		padding-bottom:0 !important;
		font-family: 'Product sans' !important;
	}
	
	.header-search-wrapper {
		/* 388 = app.title.outerWidth() + ua-ctrl-wrapper.outerWidth() + hsw.margin-left + ua-ctrl-wrapper-margin-left */
		/* width:calc(100% - 388px); */
		width: calc(100% - 283px);
	}

	.pc-side-panel-wrapper {
		display: block;
		/* width: 249px; */
		width: 165px;
		box-sizing: border-box;
		border-right: 1px solid #ddd;
		clear: both;
	}
	.content-container {
		/* width: calc(100% - 250px); */
		width: calc(100% - 166px);
	}

	.pc-side-panel-wrapper,.content-container {
		height: calc(100% - 4.0625em);
		float: left;
	}
	.cw-ctrls-wrapper {
		padding: 20px 0;
		width: 150px;
		margin: auto;
	}
	.cw-ctrls-wrapper .content-wrapper-ctrl {
		height: 40px;
		width: 150px;
		color: #93979b;
	}
	.sub-nav {
		width: 100px;
		margin: 5px 0 10px 30px;
		font-size: 10px;
	}
	.sub-nav a {
		box-shadow: none;
		background-color: transparent !important;
		border-radius: 0 !important;
		border: none;
		font-size: 14px;
		font-weight: normal;
		font-family: inherit;
		height: 30px;
		line-height: 30px;
		margin: 0;
		padding: 0 0 0 10px;
		width: calc(100% - 10px);
		text-align: left;
		border-color: transparent !important;
		color: #93979b !important;
	}
	.sub-nav a:focus,.ua-login-ctrls a:focus {
		-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;/* border-color: #ddd !important; */
		color: #000 !important;text-shadow: none !important;
	}
	.sub-nav a:hover {
		color: #000 !important;
		transition: color 0.5s ease-in-out;
	}
	.pc-side-panel-wrapper p {
		margin: 0;
	}
	.cw-ctrls-wrapper .content-wrapper-ctrl p {
		line-height: 40px;
		padding: 0 0 0 10px;
		font-size: 16px;
	}
	.cw-ctrls-wrapper .content-wrapper-ctrl:hover,.sub-nav a:hover,.sp-footer p:hover {
		cursor: pointer;
		color: #000;
		transition: color 0.5s ease-in-out;
	}
	.active-cw-ctrl {
		background: #e8f0fe;
		/* border-top-right-radius: 40px;
		border-bottom-right-radius: 40px; */
		color: #1967d2 !important;
		width: 154.5px !important;
		border-right: 3px solid #1967d2 !important;
	}
	a.active-sn-ctrl {
		background-color: #e8f0fe !important;
		color: #1967d2 !important;
		border-right: 3px solid #1967d2 !important;
		color: #1967d2 !important;
		width: 114.5px;
		text-shadow: none !important;
	}
	/* sp footer */
	.sp-footer{
		position: absolute;
		width: 165px;
		bottom: 0;
		padding: 12px 0;
	}
	.sp-footer div {
		width: 100px;
		height: 20px;
		line-height: 20px;
		margin: auto;
	}
	.sp-footer .v1, .sp-footer .vctrl {
		width: 50px;
		font-size: 13px;
		text-align: center;
		height: 20px;
		/* color: #93979b; */
		float: left;
	}
	.vctrl {
		position: relative;
	}
	.vctrl i {
		position: absolute;
		height: 10px;
		width: 10px;
		font-size: 10px;
		top: 2px;
		right: -8px;
	}
	/* pc header nav icons*/
	.ua-ctrls-wrapper {
		float: right;
		width: 98px;
		height: 48px;
		line-height: 48px;
		margin: 0 10px 0 0;
	}

	.ua-ctrl,.sc-ctrl {
		width: 48px !important;
		height: 48px;
		float: right;
		text-align: right;
		background: none !important;
		color: #000 !important;
		border-right: 0 !important;
	}
	.ua-ctrls-wrapper div.content-wrapper-ctrl {
		width: 48px !important;
	}
	.ua-ctrl {
		margin: 0 0 0 2px;
	}
	.ua-ctrl p,.sc-ctrl p {
		height: 100%;
		width: 100%;
		margin: 0;
	}
	.ua-ctrl-icon,.sc-ctrl-icon {
		display: block;
		float: right;
		height: 48px;
		line-height: 48px;
		width: 48px;
		text-align: center;
		background: #fff;
		border-radius: 50%;
		/* border: 3px solid #777676; */
		/* margin: 0 0 0 8px; */
	}
	.ua-ctrl-icon:hover,.sc-ctrl-icon:hover {
		cursor: pointer;
		background: #ebecec !important;
	}
	.ua-ctrl-icon:focus,.sc-ctrl-icon:focus {
		background: #ebecec;
		outline: none;
		color: #1967d2;
	}
	
	/* explorer */
	.explorer-navigation {
		height: 54px;
	}
	.path-section, .path-delimeter {
		margin-top: 0;
	}
	.path-section {
		font-size: 14px;
	}
	.path-section p {
		text-transform: none;
	}
	.explorer {
		height: calc(100% - 3.375em);
		padding-bottom: 0;
	}
	.folder-tile-wrapper,.file-tile-wrapper {
		width: 110px;
	}
	.folder-icon,.file-icon {
		margin: 0 15px;
	}
	.folder-icon:after, .file-icon:after {
		top: 0;
		left: 0;
		width: 80px;
		height: 80px;
	}
	.fw-stats {
		bottom: 0;
		font-size: 12px;
	}
	/* eBooks uploads */
	.uploads-cw, .ua-cw {
		padding-bottom: 0;
	}
	/* Responsive UA interface styling, w>=815px and h>=600px */
	@media all and (min-width: 50.9375em) and (min-height: 600px) {
		/* pc header */
		.app-ver {
			font-size: 12px;
			top: 21.5px;
			left: 185px;
			height: 15px !important;
			padding: 0 10px !important;
			line-height: 15px;
		}
		.app-title {
			width: 250px;
		}
		.app-title p {
			padding: 0 0 0 20px;
		}
		.sub-title {
			padding: 0 0 0 15px !important;
			margin: 0 !important;
		}
		.header-search-wrapper {
			/* 388 = app.title.outerWidth() + ua-ctrl-wrapper.outerWidth() + hsw.margin-left + ua-ctrl-wrapper-margin-left */
			width:calc(100% - 368px);
		}
		/* side panel */
		.pc-side-panel-wrapper {
			width: 249px;
		}
		.cw-ctrls-wrapper {
			width: 225px;
		}
		.cw-ctrls-wrapper .content-wrapper-ctrl {
			width: 225px;
		}
		.sub-nav {
			width: 200px;
			margin: 5px 0 10px 25px;
		}
		.sub-nav p:first-child {
			font-size: 14px;
			margin: 0 0 10px;
		}
		.active-cw-ctrl {
			width: 234px !important;;
		}
		a.active-sn-ctrl {
			width: 199px !important;
		}
		/* sp footer */
		.sp-footer {
			width: 249px;
		}
		.sp-footer div {
			width: 140px;
			height: 22px;
			line-height: 22px;
		}
		.sp-footer .v1, .sp-footer .vctrl {
			width: 70px;
			height: 22px;
			font-size: 15px;
		}
		.sp-footer .vctrl {
			font-weight: normal !important;
		}
		.vctrl i {
			right: -2px;
		}
		/* Content-wrapper */
		.content-container {
			width: calc(100% - 250px);
		}
		
		/* user account ui */
		.ua-cw {
			overflow-x: unset;
			overflow-y: unset;
		}
		.ua .ui-grid-a {
			position: relative;
			height: calc(100% - 66px);
			/* overflow: /* hidden */ /* auto;  overfow is messing up with elements on the edge of grid*/ 
		}
		.ua .ui-block-a {
			height: 322px;
		}
		.ua .ui-block-a div {
			float: left;
		}
		.ui-block-a .avatar-card {
			width: 206px;
		}
		.ui-block-a .ua-details {
			width: calc(100% - 248px);
			padding: 0 16px 0 24px;
		}
		.ua .ui-block-b {
			padding: 1.875em 1.5em 0 .5625em;
		}
		.ui-block-b .ua-info-wrapper {
			position: relative;
		}
		.ua-info {
			padding-left: 32px;
		}
		.ua-info i {
			position: absolute;
			left: -15px;
			z-index: 1;
			color: #1967d2;
			top: 10px;
		}
		.ua-info i:after {
			content: "";
			position: absolute;
			height: 34px;
			width: 46px;
			background: #e8f0fe;
			content: "";
			border-top-right-radius: 34px;
			border-bottom-right-radius: 34px;
			z-index: -1;
			left: -13px;
			top: -8.5px;
			border-left: 3px solid #1967d2;
		}
		.ua .ui-block-c {
			position: absolute;
			bottom: -16px;
			width: calc(100% + 32px);
			left: -16px;
			padding: 0 24px;
			border-top: 1px solid #eee;
			padding-bottom: 16px;
			background: #f9f9f9;
		}
	}
}

.footer {
	height: 64px;
}

.footer a {
	height: 64px;
    border-radius: 0 !important;
    box-shadow: none !important;
}

#nv1 .ui-btn:after {
	background: none !important;
	background-color: none !important;
	-webkit-box-shadow: none !important;
	-webkit-border-radius: 0 !important;border-radius: 0 !important;
	width: 22px !important;
	height: 22px !important;
	line-height: 22px !important;
	margin-left: -11px !important;
	box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	text-align: center !important;
}
span.ui-button-icon {
	background: none;
    background-color: transparent !important;
}

[data-icon="folderopen"], [data-icon="filepdf"], [data-icon="cloudupload"],[data-icon="usercircle"]{
  font-size:0;
}

/* [data-icon="folderopen"] */.folderopen:after { 
    content: "\f07c"; 
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

/* [data-icon="filepdf"] */.filepdf:after { 
    content: "\f1c1"; 
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

/* [data-icon="cloudupload"] */.cloudupload:after { 
    content: "\f0fe"; 
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

/* [data-icon="usercircle"] */.usercircle:after { 
    content: "\f2bd";
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}
