.sc-hdr, .m-c-hdr p, .p-s-hdr p, .sr-cw-hdr p {
    font-size: 24px;
    font-weight: normal;
    line-height: 1em;
    margin: 6px 0 8px !important;   
}
.sr-cw-hdr {
    height: 38px;
    border-top: 1px solid transparent;
}
.sr-dt {
    height: calc(100% - 38px);
    overflow-y: auto;
    overflow-x: hidden;
}
.sc-navbar ul li a span {
    float: right;
    margin-right: 7px;
}
.ua-navbar li a span {
    float: left;
    margin-right: 7px;
}
.n-cw {
    overflow-x: hidden;
	overflow-y: overlay;
}

iframe {
    border: none;
}

.ua-cw #tabs {
    height: calc(100% - 50px);
}

#a-overview {
    overflow-x: visible !important;
}

.loader, .u-loader {
    display: none;
}

.n-listview .ui-listview-item-button, .n-listview .ui-listview-item-split-button {
    background-color:  #fff !important;
} 
.ui-listview-item-button:hover, .ui-listview-item-split-button:hover {
    background-color: #ededed !important;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.ui-listview-item-button:focus, .ui-listview-item-split-button:focus {
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.ui-listview>li p {
    font-size: .85em !important;
}

.not-allowed {
    cursor: not-allowed;
}

.u-fn-i {
    font-style: normal;
    height: 47px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 47px;
}

.u-fn {
    padding-left: 47px;
    border: 1px solid #ccc;
    border-radius: 42px;
    text-align: left;
}

.u-fn:hover {
    cursor: pointer;
}

.b-r-r {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.b-l-r {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.ua-navbar li a {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.ua-tile {
	display: inline-block;
    margin: 8px 0 8px 16px;
    border: 1px solid #ccc;
    padding: 8px;
    height: auto;
    line-height: normal;
    color: #1967d2;
    border-radius: 8px;
    font-size: 80%;
    cursor: default;
}
