.uploads-wrapper .ui-bar {
    background-color: #f9f9f9;
    -webkit-border-top-left-radius: inherit;border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;border-top-right-radius: inherit;
}
.uploads-wrapper .ui-body {
    border-top-width: 0;
    -webkit-border-bottom-left-radius: inherit;border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;border-bottom-right-radius: inherit;
}
.uploads-hdr h3, .uploads-hdr h4 {
    font-weight: normal;
}
.uploads-hdr h3 {
    margin: 0 0 9.36px;
}
.uploads-hdr h4 {
    margin-top: 0;
}
.cancel-upload a {
    font-weight: normal;
}
.cancel-upload a:hover {
    background-color: #dd0048 !important;
    text-shadow: none !important;
    color: #fff !important;
}
.cancel-upload a:focus {
    -webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;
    color: #fff !important;text-shadow: none !important;
    background-color: #dd0048 !important;
}
/* .cancel-upload a {
    display: none;
} */
