.uploads-cw {
    overflow: overlay;
    overflow: auto;
}
.uploads-wrapper {
    margin: 1px 0;
}
.uploads-wrapper .ui-bar {
    background-color: #f9f9f9;
    -webkit-border-top-left-radius: inherit;border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;border-top-right-radius: inherit;
}
.uploads-wrapper .ui-body {
    border-top-width: 0;
    -webkit-border-bottom-left-radius: inherit;border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;border-bottom-right-radius: inherit;
}
.uploads-hdr h3, .uploads-hdr h4 {
    font-weight: normal;
}
.uploads-hdr h3 {
    margin: 0 0 9.36px;
}
.uploads-hdr h4 {
    margin-top: 0;
}
.cancel-upload a, .submit-eb-uploads a {
    font-weight: normal !important;
    text-shadow: none !important;
}
.submit-eb-uploads a {
    background-color: #3ca4ff !important;
    color: #fff !important;
}
.cancel-upload a:hover {
    background-color: #dd0048 !important;
    text-shadow: none !important;
    color: #fff !important;
}
.cancel-upload a:focus,.submit-eb-uploads a:focus {
    -webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;
    color: #fff !important;text-shadow: none !important;
    background-color: #dd0048 !important;
}
.submit-eb-uploads a:focus {
    background-color: #3ca4ff !important;
    color: #fff !important;
}
/* .cancel-upload a {
    display: none;
} */
.eb-metadata {
    border-collapse: collapse;
}
.eb-metadata, .eb-metadata td {
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.eb-metadata fieldset {
    width: 420px !important;
}
.eb-metadata fieldset label, .eb-metadata td {
    width: 60px !important;
    padding: 0 !important;
    text-align: center;
}
.eb-metadata fieldset label {
    color: #f6f6f6 !important;
    text-align: center !important;
    font-size: 16px !important;
    height: 36px !important;
    line-height: 36px !important;
    border-width: 0 !important;
    border-right-width: 1px !important;
    box-sizing: border-box;
}
.eb-metadata fieldset label:nth-child(2) {
    border-left: 1px solid transparent !important;
}
.eb-metadata fieldset label:last-child {
    border-right-width: 0 !important;
}
td.fn-hdr,td.dpt-hdr {
    padding: 0 10px 1px !important;
    vertical-align: bottom;
}
td.fc-hdr {
    padding: 5px 0 !important;
}
td.dpt-hdr {
    width: 200px !important;
}
td.fn-hdr,td.fc-hdr,td.dpt-hdr {
    font-size: 16px;
    color: #444;
}
td.fn-hdr,td.eb-fn {
    width: 140px !important;
    max-width: 140px !important;
}
td.eb-fn {
    padding: 0 10px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
}
tr.eb-fc td {
    box-sizing: border-box;
    font-size: 13px;
    line-height: 20.91px;
}
td.frc/* faculty radio check */ {
    padding: 0;
}
.eb-aux-dpt-custom {
    margin: 4px;
    box-sizing: border-box;
}
td.eb-dpt {
    padding: 4px !important;
}
td.eb-dpt a {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    padding: 0 1em !important;
}
td.eb-aux-fc input,td.eb-aux-dpt input {
    padding: 0 .4em;
    font-size: 14px;
}
tr.eb-aux-inputs, tr.eb-aux-inputs td.eb-aux-fc, tr.eb-aux-inputs td.eb-aux-dpt{
    display:none;
}
																	
.eb-uploads .ui-block-a,.eb-uploads .ui-block-b,.eb-uploads .ui-block-c, .eb-uploads .ui-block-g  {
    width: 100%;
}
.eb-uploads .ui-block-g {
    display: none;
    margin: -8px 0 0;
    padding: 8px;
}
.eb-uploads .ui-block-g p {
    display: none;
}
.eb-uploads .ui-block-g .io-err-msg {
    color: #ed143d;
}
.eb-uploads .ui-block-g .io-ok-msg {
    color: #5eb507;
}
.eb-uploads .ui-block-c {
    margin: 4px 0 8px 4px;
}
.eb-uploads .ui-block-d, .eb-uploads .ui-block-e {
    width: 100%;
}
.eb-uploads .ui-block-e {
    /* width: calc(100% - 562px); */
    padding: 8px 8px 8px 16px;
}
.eb-metadata-input {
    padding: 8px 0;
}
.eb-metadata-input ul {
    margin: 0;
}
.eb-uploads .ui-block-f {
    clear: both;
    width: 100%;
    padding: 10px 0 0;
}
.upload-f-ctrls div {
    float: left;
}