.uploads-cw {
    overflow: overlay;
    overflow: auto;
}

.uploads-cw, .ua-cw, .n-cw {
    padding-bottom: 64px;
}

@media all and (min-width: 37.5em){
    .uploads-cw, .ua-cw, .n-cw {
        padding-bottom: 0 !important;
    }
}

.uploads-wrapper {
    margin: 1px 0;
}
.uploads-wrapper .ui-bar {
    padding: .25em 1em;
    background-color: #f9f9f9;
    -webkit-border-top-left-radius: inherit;border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;border-top-right-radius: inherit;
}
.uploads-wrapper .ui-body {
    border-top-width: 0;
    -webkit-border-bottom-left-radius: inherit;border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;border-bottom-right-radius: inherit;
}
.uploads-hdr h3, .uploads-hdr h4 {
    font-weight: normal;
}
.uploads-hdr h3 {
    margin: 0 0 9.36px;
}
.uploads-hdr h4 {
    margin-top: 0;
}
.uploads-wrapper-hdr p {
    float: left;
    height: 36px;
    line-height: 36px;
}
.cancel-upload {
    display: none;
    width: 138px;
    height: 36px;
    box-sizing: border-box;
    float: right;
}
.cancel-upload a {
    margin: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.cancel-upload a, .submit-eb-uploads a {
    font-weight: normal !important;
    text-shadow: none !important;
}
.cancel-upload a:hover {
    background-color: #dd0048 !important;
    text-shadow: none !important;
    color: #fff !important;
    border: 0;
}

.cancel-upload a:focus {
    -webkit-box-shadow:0 0 12px #888 !important; -moz-box-shadow:0 0 12px #888 !important; box-shadow:0 0 12px #888 !important;
    color: #fff !important;text-shadow: none !important;
    background-color: #dd0048 !important;
}
.submit-eb-uploads a, .submit-issue, .submit-f-r, .submit-c-r {
    background-color: #3ca4ff !important;
    color: #fff !important;
    border: 0;
}
.submit-issue, .submit-f-r, .submit-c-r {
    width: 70px;
    padding: 5px;
    /* margin: 0 0 0 10px; */
}
.submit-eb-uploads a:focus,
.submit-issue:focus, .submit-f-r:focus, .submit-c-r:focus {
    -webkit-box-shadow:0 0 12px #888 !important; -moz-box-shadow:0 0 12px #888 !important; box-shadow:0 0 12px #888 !important;
    background-color: #3ca4ff !important;
    color: #fff !important;
    box-shadow: 0 0 5px #888 !important;
}

.submit-eb-uploads a:hover {
    box-shadow: 0 0 5px #888 !important;
    transition: box-shadow .5s ease-in-out;
}

.missing-metadata {
    color: #ed143d;
    transition: color .5s ease-in-out;
}

.eb-files:hover, input#file-upload-button {
    cursor: pointer !important;
}
/* 
    For resizing purposes, render both android/pc mods at the same time?
    Update user inputs across all mods concurrently?
    
    create boolean to track a/atable input mods. 
*/
/* eBooks uploads input mods for Android/Screens less than 922px  */
.metadata-wrapper {
    display: block;
}
.pc-metadata-wrapper {
    display: none;
}
.metadata-wrapper {
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.a-upload0s option[value=0]{
    text-align: center;
}
.metadata-wrapper div h3:nth-child(1) {
    margin-top: 0;
}

.a-cw form inputwrapper {
    display: none;
}

.callback-addr-cw, .a-uploader-ID {
    padding: 1em 2.2em;    
}
.callback-addr-cw p, .a-uploader-ID p, .a-fchdr, .a-dpthdr {
    margin-left: -1em !important;
}
.uploader-ID {
    margin-bottom: 7px;
}
.a-uploader-ID {
    margin-bottom: -8px;
    padding-bottom: 0;
}
.uploader-ID .ui-block-a, .uploader-ID .ui-block-b {
    width: 50% !important;
    padding-right: 5px;
}
.uploader-ID .ui-block-b {
    padding:  0 0 0 5px;
}
.publishCI, .a-publishCI {
    margin-bottom: 15px !important;
    font-weight: normal !important;
}
.a-publishCI {
    margin: 16px 19.2px 0 !important;
}
.uploader-ID span {
    margin-bottom: -5px;
}

/* PC eb metadata input mods. Breakpoint = 964 */
@media all and (min-width: 60.25em){
    .metadata-wrapper {
        display: none;
    }
    .pc-metadata-wrapper {
        display: inline-block;
    }
    .eb-metadata {
        border-collapse: collapse;
        margin: 0 0 15px;
    }
    .eb-metadata, .eb-metadata td {
        border: 1px solid #ddd;
        box-sizing: border-box;
    }
    .eb-metadata fieldset {
        width: 420px !important;
    }
    .eb-metadata fieldset label, .eb-metadata td {
        width: 60px !important;
        padding: 0 !important;
        text-align: center;
    }
    .eb-metadata fieldset label {
        color: #f6f6f6 !important;
        text-align: center !important;
        font-size: 16px !important;
        height: 36px !important;
        line-height: 36px !important;
        border-width: 0 !important;
        border-right-width: 1px !important;
        box-sizing: border-box;
    }
    .eb-metadata fieldset label:nth-child(2) {
        border-left: 1px solid transparent !important;
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
    }
    .eb-metadata fieldset label:last-child {
        border-right-width: 0 !important;
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    td.fn-hdr,td.dpt-hdr {
        padding: 0 10px 1px !important;
        vertical-align: bottom;
    }
    td.fc-hdr {
        padding: 5px 0 !important;
    }
    td.dpt-hdr {
        width: 200px !important;
    }
    td.fn-hdr,td.fc-hdr,td.dpt-hdr {
        font-size: 16px;
        color: #444;
    }
    td.fn-hdr,td.eb-fn {
        width: 140px !important;
        max-width: 140px !important;
    }
    td.eb-fn {
        padding: 0 10px !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis !important;
    }
    tr.eb-fc td {
        box-sizing: border-box;
        font-size: 13px;
        line-height: 20.91px;
    }
    /* faculty radio check */
    td.frc {
        padding: 0;
    }
    
    .eb-aux-dpt-custom {
        margin: 4px;
        box-sizing: border-box;
    }
    
    td.eb-dpt {
        padding: 4px !important;
    }
    
    td.eb-dpt a, .a-cw a {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
    
    td.eb-dpt a {
        padding: 0 1em !important;
    }
    
    td.eb-aux-fc input,td.eb-aux-dpt input {
        padding: 0 .4em;
        font-size: 14px;
    }
    tr.eb-aux-inputs, tr.eb-aux-inputs td.eb-aux-fc, tr.eb-aux-inputs td.eb-aux-dpt{
        display:none;
    }
}

/* General styling */
.eb-uploads .ui-block-a,.eb-uploads .ui-block-b,.eb-uploads .ui-block-c, .eb-uploads .ui-block-g  {
    width: 100%;
}
.eb-uploads .ui-block-a .uploads-input-log {
    margin-top: 0;
}
.eb-uploads .ui-block-a .uploads-input-log p {
    display: block !important;
    opacity: 1 !important;
}
.eb-uploads .ui-block-b {
    display: none;
}
.eb-uploads .ui-block-g {
    display: none;
    margin: 10.72px 0 0;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

.bg-success {
	display: block;
    background-color: #d2f9d2;    
    border: 1px solid #d2f9d2ff;
}
.bg-success span.ui-icon-delete {
	display: none;
}
.bg-error {
    background-color: #f9d2d2;
}

.as-error {
    color: #a11212 !important;
    background-color: #f9d2d2 !important;
    border-color: #a11212 !important;
    outline-color: #a11212;
}
.aux-input-error {
    border: 1px solid #ed143d !important;
}
.eb-uploads .ui-block-g p {
    display: none;
}
.eb-uploads .ui-block-g .io-err-msg {
    color: #a11212;
    text-shadow: none;
}
.eb-uploads .ui-block-g .io-ok-msg {
    color: #171717;
    /* bg = #d2f9d2 */
}
.eb-uploads .ui-block-c {
    margin: 0 0 12px 4px;
}
.eb-uploads .ui-block-d, .eb-uploads .ui-block-e {
    width: 100%;
}
.eb-uploads .ui-block-e {
    /* width: calc(100% - 562px); */
    padding: 8px 8px 8px 16px;
}
.eb-metadata-input {
    padding: 8px 0;
}
.eb-metadata-input ul {
    margin: 0;
}
.eb-uploads .ui-block-f {
    clear: both;
    width: 100%;
    padding: 10px 0 0;
}
.upload-f-ctrls div {
    float: left;
}