body {
	font-family:'Product Sans' !important;
	position: relative;
}
.content-wrapper {
	position: relative;
}
.ui-content {
	position: relative;
}

/* Android Styles */
.ui-content-up {
	padding-top: /*4.875em*/ 6.6875em !important;
}
.no-scroll {
	overflow-y: hidden !important;
}
.side-panel-wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	left: -100%;
	height: 100vh;
	/*background: rgba(0,0,0,.15);*/
	z-index: 8888888;
}
.side-panel {
	overflow: auto;
	top: 0;
	width: 250px;
	left: 0;
	height: 100%;
	background: #fff;
	-webkit-box-shadow:5px 0 5px rgba(0,0,0,.15);
	-moz-box-shadow:5px 0 5px rgba(0,0,0,.15);
	box-shadow:5px 0 5px rgba(0,0,0,.15);
}
.home-search-wrapper {
	position: relative;
	background: #fff;
	/* border-bottom: 1px solid #888; */
	/*padding-bottom: 0.5em;*/
}
.hs-wrapper-up {
	position: fixed;
  padding: 1em 0 0 0;
  top: 0;
	left: 1em;
	right: 1em;
}
.home-search-wrapper .ui-input-text{ 
	margin-top:0 !important;
}
.panel-ctrl-wrapper {
	font-size: 14px;
	position: absolute;
	top:0;
	z-index: 1;
	padding:0;
	margin:0;
	height: 44px; 
	line-height:44px;
	text-align: center;
	width: 40px;
	border: 1px solid transparent;
}
.pcw-up {
  top: 17px;
}
.panel-ctrl-wrapper p {
	margin:0;
	display: inline;
}
.panel-ctrl:hover {
	cursor: pointer;
}
.search-ctrl {
	display: none;
}
.search-ctrl:hover {
	cursor: pointer;
}
.home-search {
	height: 44px;
	padding: 0 0 0 40px !important;
	font-size: 14px;
	margin-bottom:0 !important;
	padding-bottom:0 !important;
}
.noshadow {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
border-radius: 0 !important;
}
.ui-input-text {
  margin-bottom: 0;
}
.static-hdr-up {
  position: fixed;
  top: -46px;
  left: 1em;
  right: 1em;
  border-bottom: 1px solid #888;
}
.static-hdr {
  height: 40px;
  line-height: 40px;
  width: 100px;
  border-bottom: 5px solid #000;
  text-align: center;
}
.static-hdr p {
  margin: 0;
}
.hs-wrapper-search-mode {
	position: fixed;
	/*height: 558px;*/
	/*border: 1px solid red;*/
	top: 0;
	left: 0;
	right: 0;
	padding-bottom: 0;
	z-index: 8888887;
}
.pc-wrapper-search-mode {
	height: 54px;
	line-height: 54px;
}
.hs-search-mode {
	height: 54px;
}
.search-window {
	/*margin-top: -0.5em;*/
	background: #fff;
	padding: 1em;
	display: none;
	overflow-y: scroll;
}
.sw-thumb {
	position: absolute;
	height: 80px;
	width: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*border: 1px dotted #444;*/
	/*border-radius: 5px;*/
	opacity: 0.3;
	/*z-index: -1;*/
}
.sw-thumb img {
	height: 100%;
	width: 100%;
}
.sr {
	height: 80px;
	width: 100%;
	border: 1px dotted #ccc;
	border-radius: 3px;
	margin: 5px 0  0 -2px;
	/*opacity: 0.5;
	background: rgba(0,0,0,.15);*/
}
.ui-content-search-mode {
	padding-top: 3.875em !important;
}

/* Break Android Styling */
@media all and (min-width: 37.5em){
	.side-panel-wrapper, .panel-ctrl {
		display: none;
	}
}


.content {
	display: none;
	border: 1px dotted #ccc;
}

.active-content-wrapper {
	display: block;
}

.content p {
	margin: 0;
}

.footer {
	/*min-height:70px;*/
}

[data-icon="folderopen"], [data-icon="filepdf"], [data-icon="cloudupload"],[data-icon="usercircle"]{
  font-size:0;
}

[data-icon="folderopen"]:after { 
    content: "\f07c"; 
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

[data-icon="filepdf"]:after { 
    content: "\f1c1"; 
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

[data-icon="cloudupload"]:after { 
    content: "\f382"; 
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

[data-icon="usercircle"]:after { 
    content: "\f2bd";
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

#nv1 .ui-btn:after
	{
		background: none !important;
		background-color: none !important;
		-webkit-box-shadow: none !important;
		-webkit-border-radius: 0 !important;border-radius: 0 !important;
		width: 22px !important;
		height: 22px !important;
		line-height: 22px !important;
		margin-left: -11px !important;
		box-shadow: none !important; 
		-moz-box-shadow: none !important; 
	text-align: center !important;
}

[data-icon="pray"] {
  font-size:0;
}

[data-icon="pray"]:after { 
    content: "\f382"; /*07c, f1c1, f2bd*/
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

















	
	