/* 
	https://docs.emmet.io/cheat-sheet/

*/
body {
	font-family:'Product Sans' !important;
	position: relative;
}
.content-wrapper {
	background-color: #fff !important;
}
.app-title, .cw-ctrls-wrapper, .explorer .folder-icon p, .explorer-navigation,.header-search {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
			-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.content-wrapper {
	position: relative;
}
.ui-content {
	position: relative;
}

/* Android Styles */
.ui-content-up {
	padding-top: /*4.875em*/ 6.6875em !important;
}
.no-scroll {
	overflow-y: hidden !important;
}
.side-panel-wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	left: -100%;
	height: 100vh;
	/*background: rgba(0,0,0,.15);*/
	z-index: 8888888;
}
.side-panel {
	overflow: auto;
	top: 0;
	width: 250px;
	left: 0;
	height: 100%;
	background: #fff;
	-webkit-box-shadow:5px 0 5px rgba(0,0,0,.15);
	-moz-box-shadow:5px 0 5px rgba(0,0,0,.15);
	box-shadow:5px 0 5px rgba(0,0,0,.15);
}
.home-search-wrapper {
	position: relative;
	background: #fff;
	border-top-right-radius: .3125em;
    border-top-left-radius: .3125em;
}
.hs-wrapper-up {
	position: fixed;
	/*  padding: 1em 0 0 0; */
	top: 1em;
	left: 1em;
	right: 1em;
	z-index: 1;
}
.home-search-wrapper .ui-input-text{ 
	margin-top:0 !important;
}
.panel-ctrl-wrapper {
	font-size: 14px;
	position: absolute;
	top:0;
	z-index: 1;
	padding:0;
	margin:0;
	height: 44px; 
	line-height:44px;
	text-align: center;
	width: 40px;
	border: 1px solid transparent;
}
.pcw-up {
  /* top: 17px; */
}
.panel-ctrl-wrapper p {
	margin:0;
	display: inline;
}
.panel-ctrl:hover {
	cursor: pointer;
}
.search-ctrl {
	display: none;
}
.search-ctrl:hover {
	cursor: pointer;
}
.home-search {
	height: 44px;
	padding: 0 0 0 40px !important;
	font-size: 14px;
	margin-bottom:0 !important;
	padding-bottom:0 !important;
	font-family: 'Product sans' !important;
}
.noshadow {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}
.noshadowI {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.ui-input-text {
  margin-bottom: 0;
}
.static-hdr-up {
  position: fixed;
  top: -46px;
  left: 1em;
  right: 1em;
  border-bottom: 1px solid #ddd;
  z-index: 1;
}
.static-hdr {
  height: 40px;
  line-height: 40px;
  width: 100px;
  border-bottom: 5px solid #000;
  text-align: center;
}
.static-hdr p {
  margin: 0;
}
.hs-wrapper-search-mode {
	position: fixed;
	/*height: 558px;*/
	/*border: 1px solid red;*/
	top: 0;
	left: 0;
	right: 0;
	padding-bottom: 0;
	z-index: 8888887;
}
.pc-wrapper-search-mode {
	height: 54px;
	line-height: 54px;
}
.hs-search-mode {
	height: 54px;
}
.search-window {
	/*margin-top: -0.5em;*/
	background: #fff;
	padding: 1em;
	display: none;
	overflow-y: scroll;
}
.sw-thumb {
	position: absolute;
	height: 80px;
	width: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*border: 1px dotted #444;*/
	/*border-radius: 5px;*/
	opacity: 0.3;
	/*z-index: -1;*/
}
.sw-thumb img {
	height: 100%;
	width: 100%;
}
.sr {
	height: 80px;
	width: 100%;
	border: 1px dotted #ccc;
	border-radius: 3px;
	margin: 5px 0  0 -2px;
	/*opacity: 0.5;
	background: rgba(0,0,0,.15);*/
}
.ui-content-search-mode {
	padding-top: 3.875em !important;
}

.header {
	display: none;
}
.pc-side-panel-wrapper {
	display: none;
}
.content-container {
	width: 100%;
}

.content {
	position: relative;
	display: none;
	margin: 1em;
	height: calc(100% - 2em);
}
.pp-cw {
	margin-top: 0;
	height: calc(100% - 1em);
}
/* Explorer path(s) | Navigation */
.explorer-navigation {
	height: 50px;
    line-height: 38px;
    width: 100%;
    margin: 0 1em 0 0;
}
.b-f-navigators {
	/* display: none; */
	height: 40px;
    width: 81px;
    float: left;
    line-height: normal;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 4px 7px 3px 0;
}
.b-f-navigators div {
	height: 40px;
	line-height: 40px;
	width: 40px;
	float: left;
	text-align: center;
}
.b-f-navigators div:hover {
	cursor: not-allowed;
}
.b-f-navigators .b {
	border-right: 1px solid #ddd;
}
.tmp-path-section {
	display: none;
	background: #e8f0fe;
    font-size: 13px;
    left: 16px;
    padding: 0 10px;
	color: #1967d2;
	float: left;
    margin: 12px 0 0 4px;
	border-radius: 3px;
}
.path-section {
    background: #e8f0fe;
    font-size: 14px;
    left: 16px;
    padding: 0 10px;
	color: #1967d2;
	float: left;
    margin: 5px 0 0 4px;
	border-radius: 3px;
}
.path-section:hover {
	cursor: not-allowed;
}
.path-section-w-h:hover {
	/* path-section with active history */
	cursor: pointer !important;
}
.explorer-hdr {
    text-align: center;
}
.tmp-path-delimeter {
	display: none;
	float: left;
	padding: 0 5px 0 6px;
	margin-top: 11px;
	transform: scale(0.75);
}
.path-delimeter {
	float: left;
	padding: 0 5px 0 6px;
	margin-top: 4px;
	transform: scale(0.75);
}
.path-delimeter p {
	font-size: 12px;
}
.active-path-delimeter {
	display: block !important;
}
.explorer {
	position: relative;
    height: calc(100% - 4.0625em);
    width: 100%;
    margin: 0 0 1em 0;
    border-top: 1px solid #ddd;
}
.ecw {
	height: calc(100% - 2.5em);
    width: 100%;
    background: #fff;
    border-top: none;
    padding: 10px 0 30px;
    overflow: auto;
}
.ecw .folder-tile-wrapper {
	float: left;
}
.folder-tile-wrapper {
	height: 134px;
	width: 150px;
}
.folder-icon {
	/* border: 1px solid #ddd; */
	position: relative;
    height: 80px;
    font-size: 12px;
    text-align: center;
    width: 80px;
    margin: 20px 0 0 35px;
	border-radius: 3px;
	background-image: url("../assets/images/folder-m-filled.svg");
	background-size: contain;
	background-size: 80px;
}
.folder-icon p {
	position: absolute;
	top: 85px;
	height: 27px;
	width: 130px;
	left: -25px;
	text-align: center;
	overflow: hidden;
}
.folder-icon:hover {
	cursor: pointer;
}
.files-ecw-hdr {
	height: 40px;
    line-height: 40px;
    margin: 0 0 0 32px !important;
}
.file-tile-wrapper{
	height: 134px;
    width: 85px;
    margin-left: 17.5px;
    float: left;
}
.file-icon {
	position: relative;
    height: 80px;
    font-size: 12px;
    text-align: center;
    width: 80px;
    margin: 15px 0 0 2.5px;
	background-image: url("../assets/images/OfficeL-A-pdf.svg");
}
.file-icon p {
    position: absolute;
    top: 85px;
    height: 27px;
    width: 85px;
    left: -2.5px;
    text-align: center;
    overflow: hidden;
}
.file-icon:hover {
	cursor: pointer;
}
.fdownl-dialog-wrapper {
	position: absolute;
    height: 99.9vh;
    top: -82px;
    left: -267px;
    width: 100vw;
    background: rgba(0,0,0,.3);
    z-index: 3;
    display: none;
}
.file-downl-dialog {
	position: absolute;
    height: 300px;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px #888;
}
.fw-stats {
	position: absolute;
    height: 15px;
    bottom: 0;
    left: 0;
    /* right: 0; */
    background: #fff;
    /* border-top: 1px solid #ccc; */
    /* border-right: 1px solid #ccc; */
    font-size: 12px;
    padding: 0 30px 0 10px;
    line-height: 15px;
    /* border: 1px solid #ccc; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #e8f0fe;
}
.active-content-wrapper {
	display: block;
}

.content p {
	margin: 0;
}


/* Break Android Styling */
@media all and (min-width: 37.5em){
	.side-panel-wrapper, .panel-ctrl, .home-search-wrapper,.footer {
		display: none;
	}
	.ui-page {
		height: 100%;
		overflow-x: auto !important;
	}
	.ui-page .ui-content {
		height: inherit;
		padding: 0;
		min-width: 1071px !important;
	}
	.header {
		display: block;
		width: 100%;
		height: 48px;
		padding: 0.5em 0;
		border-bottom: 1px solid #ddd;
	}
	.app-title {
		height: 48px;
		width: 250px;
	}
	.title {
		height: 40px;
		width: 150px;
		line-height: 45px;
		font-size: 33px;
		padding: 0 0 0 20px;
		font-weight: 900;
		letter-spacing: 2.5px;
		text-align: right;
	}
	.sub-title {
		height: 8px;
		width: 150px;
		line-height: 8px;
		padding: 0 0 0 20px;
		font-size: 12px;
		text-align: right;
	}
	.app-title p {
		margin: 0;
	}
	.header-search-wrapper {
		/* calc(100% - 250px); */
		width: 720px;
		height: 48px;
		padding: 0 0 0 10px;
	}
	.app-title, .header-search-wrapper {
		float: left;
	}
	.header-search-wrapper .ui-input-search {
		margin: 0;
	}
	.header-search-wrapper .ui-input-search:after {
		left: 0.8em;
	}
	.header-search {
		height: 44px;
		padding: 0 0 0 40px !important;
		font-size: 14px;
		margin-bottom:0 !important;
		padding-bottom:0 !important;
		font-family: 'Product sans' !important;
	}
	.ua-ctrl-wrapper {
		float: right;
		width: 98px;
		height: 48px;
		line-height: 48px;
		margin: 0 10px 0 0;
	}
	.ua-ctrl,.sc-ctrl {
		width: 48px;
		height: 48px;
		float: right;
		text-align: right;
		background: none !important;
		color: #000 !important;
	}
	.ua-ctrl {
		margin: 0 0 0 2px;
	}
	.ua-ctrl p,.sc-ctrl p {
		height: 100%;
		width: 100%;
		margin: 0;
	}
	.ua-hdr-icon,.sc-hdr-icon {
		display: block;
		float: right;
		height: 48px;
		line-height: 48px;
		width: 48px;
		text-align: center;
		background: #fff;
		border-radius: 50%;
		/* border: 3px solid #777676; */
		/* margin: 0 0 0 8px; */
	}
	.ua-hdr-icon:hover,.sc-hdr-icon:hover {
		cursor: pointer;
		background: #ebecec !important;
	}
	.ua-hdr-icon:focus,.sc-hdr-icon:focus {
		background: #ebecec;
		outline: none;
		color: #1967d2;
	}
	.pc-side-panel-wrapper {
		display: block;
		width: 249px;
		border-right: 1px solid #ddd;
	}
	.content-container {
		width: calc(100% - 250px);
	}
	.pc-side-panel-wrapper {
		clear: both;
	}
	.pc-side-panel-wrapper,.content-container {
		height: calc(100% - 4.0625em);
		float: left;
	}
	.cw-ctrls-wrapper {
		padding: 20px 0;
		border-bottom: 1px solid #ddd;
		width: 225px;
		margin: auto;
	}
	.cw-ctrls-wrapper .content-wrapper-ctrl {
		height: 40px;
		width: 225px;
	}
	.cw-ctrls-wrapper .content-wrapper-ctrl p {
		margin: 0;
		line-height: 40px;
		padding: 0 0 0 10px;
		font-size: 14.5px;
	}
	.cw-ctrls-wrapper .content-wrapper-ctrl:hover {
		cursor: pointer;
		background-color:#0000000a;
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
	}
	.active-cw-ctrl {
		background: #e8f0fe;
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
		color: #1967d2;
	}
}

.footer {
	/*min-height:70px;*/
}

[data-icon="folderopen"], [data-icon="filepdf"], [data-icon="cloudupload"],[data-icon="usercircle"]{
  font-size:0;
}

[data-icon="folderopen"]:after { 
    content: "\f07c"; 
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

[data-icon="filepdf"]:after { 
    content: "\f1c1"; 
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

[data-icon="cloudupload"]:after { 
    content: "\f382"; 
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

[data-icon="usercircle"]:after { 
    content: "\f2bd";
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}

#nv1 .ui-btn:after
	{
		background: none !important;
		background-color: none !important;
		-webkit-box-shadow: none !important;
		-webkit-border-radius: 0 !important;border-radius: 0 !important;
		width: 22px !important;
		height: 22px !important;
		line-height: 22px !important;
		margin-left: -11px !important;
		box-shadow: none !important; 
		-moz-box-shadow: none !important; 
	text-align: center !important;
}

[data-icon="pray"] {
  font-size:0;
}

[data-icon="pray"]:after { 
    content: "\f382"; /*07c, f1c1, f2bd*/
    font-family:'Font Awesome 5 Free';
    /*font-weight:900;*/
    font-size:15px;
}